.DS_Store
.idea/
docs/generated/
resources/static/
**/src/app/generated/
**/npm/cache/
target/
.gradle/
build/
*.iml
**/node_modules
dist
yarn-error.log
stats.json
coverage
storybook-static
.env
/rpg-bot/src/main/resources/static/
