<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023. Roland T. Lichti, Kaiserpfalz EDV-Service.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!--
     This is the testing configuration. For every level of OPERATIONS and
     BUSINESS log there is an own logfile to check if all logging that should
     go in one of the levels is really there.
       Frameworks get logged into DEVELOPMENT.
  -->
<configuration
        xmlns="http://ch.qos.logback/xml/ns/logback"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
        debug="false" scan="true" scanPeriod="60 seconds" packagingData="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{test-class}:%X{test}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEVELOPMENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./target/development.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./target/development.%d.%i.log.gz</fileNamePattern>
            <maxHistory>28</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{test-class}:%X{test}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="OPERATIONS-TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>./target/operations-trace.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./target/operations-trace.%d.%i.log.gz</fileNamePattern>
            <maxHistory>56</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%X{test-class}:%X{test}] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="OPERATIONS-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <file>./target/operations-debug.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./target/operations-debug.%d.%i.log.gz</fileNamePattern>
            <maxHistory>56</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%X{test-class}:%X{test}] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="OPERATIONS-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <file>./target/operations-info.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./target/operations-info.%d.%i.log.gz</fileNamePattern>
            <maxHistory>56</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%X{test-class}:%X{test}] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="OPERATIONS-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <file>./target/operations-warn.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./target/operations-warn.%d.%i.log.gz</fileNamePattern>
            <maxHistory>56</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%X{test-class}:%X{test}] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="OPERATIONS-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <file>./target/operations-error.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./target/operations-error.%d.%i.log.gz</fileNamePattern>
            <maxHistory>56</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%X{test-class}:%X{test}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="BUSINESS-TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>./target/business-trace.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./target/business-trace.%d.%i.log.gz</fileNamePattern>
            <maxHistory>84</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%X{test-class}:%X{test}] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="BUSINESS-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>./target/business-debug.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./target/business-debug.%d.%i.log.gz</fileNamePattern>
            <maxHistory>84</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%X{test-class}:%X{test}] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="BUSINESS-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>./target/business-info.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./target/business-info.%d.%i.log.gz</fileNamePattern>
            <maxHistory>84</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%X{test-class}:%X{test}] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="BUSINESS-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>./target/business-error.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./target/business-error.%d.%i.log.gz</fileNamePattern>
            <maxHistory>84</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%X{test-class}:%X{test}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="business" level="ALL" additivity="false"><!-- Level filtering is done in Appender -->
        <appender-ref ref="BUSINESS-TRACE"/>
        <appender-ref ref="BUSINESS-DEBUG"/>
        <appender-ref ref="BUSINESS-INFO"/>
        <appender-ref ref="BUSINESS-ERROR"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="operations" level="ALL" additivity="false"><!-- Level filtering is done in Appender -->
        <appender-ref ref="OPERATIONS-TRACE"/>
        <appender-ref ref="OPERATIONS-DEBUG"/>
        <appender-ref ref="OPERATIONS-INFO"/>
        <appender-ref ref="OPERATIONS-WARN"/>
        <appender-ref ref="OPERATIONS-ERROR"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="de.kaiserpfalzedv" level="ALL" additivity="false">
        <appender-ref ref="DEVELOPMENT"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="DEVELOPMENT"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>