## This is basic continuous integration build for your Quarkus application.

name: CI

on:
  push:
    branches: [ develop ]

jobs:
  java-build:
    runs-on: [ java ]
    steps:
      - name: Checkout sources
        id: checkout-sources
        uses: actions/checkout@v2

      - name: Set up JDK 11
        id: setup-java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build
        id: build-java
        run: mvn deploy -U -B -Pproduction,release -DskipTests=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
